import(xgboost)
import(minfi)
import(reshape2)
import(GEOquery)
importFrom(Matrix, rowSums)
importFrom(Matrix, colSums)
importFrom(Matrix, rowMeans)
importFrom(Matrix, colMeans)

export(downloadIdat,getModelInfo,inferMethXGB,parseIdat,transformMethData)
